<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/analytics">Analytics</a></li>
    <li><a href="/national_search_feedback">Search Feedback</a></li>
    <li><a href="/sfpsr_feedback">Short Format Report Feedback</a></li>
    <li><a href="/healthcheck">Healthcheck</a></li>
    <li><a href="/search">National Search</a></li>
    <li><a href="/search_analytics">Search Analytics</a></li>

    {{#if offenderId }}
        <li><a href="/sfpsr?offenderId={{offenderId}}">Short Format Pre-sentence Report</a></li>
        <li><a href="/sfpsr_list?offenderId={{offenderId}}">Short Format Pre-sentence Report List</a></li>
        <li><a href="/oralReport?offenderId={{offenderId}}">Oral Pre-sentence Report</a></li>
        <li><a href="/oralReport_list?offenderId={{offenderId}}">Oral Pre-sentence Report List</a></li>
        <li><a href="/paroleParom1Report?offenderId={{offenderId}}">Parole Report - Parom 1</a></li>
        <li><a href="/paroleParom1Report_list?offenderId={{offenderId}}">Parole Report - Parom 1 List</a></li>
    {{else}}
        <li><a href="/sfpsr">Short Format Pre-sentence Report</a></li>
        <li><a href="/sfpsr_list">Short Format Pre-sentence Report List</a></li>
        <li><a href="/oralReport">Oral Pre-sentence Report</a></li>
        <li><a href="/oralReport_list">Oral Pre-sentence Report List</a></li>
        <li><a href="/paroleParom1Report">Parole Report - Parom 1</a></li>
        <li><a href="/paroleParom1Report?gender=female">Parole Report - Parom 1 (Female)</a></li>
        <li><a href="/paroleParom1Report_list">Parole Report - Parom 1 List</a></li>
    {{/if}}
    <li><a href="/featureSwitch">Feature switches</a></li>
</ul>